/* css para tirar fundo da tela e conseguir abrir mais de uma dialog */
.Dialog {
    display: 1;
    width: 100%;
    height: 100%;

    margin-left: -100vw;

    /* font-family: var(--var-font-family); */
  }

  .Dialog .MuiDialog-paperWidthSm{
    left: 120vw;
    width: 300px;
    max-height: 800px;
    background: rgb(3, 16, 126);
    color: #fff;
    margin-top: 50px;
    border-radius: 8px;
  }

  @media(max-width: 960px){
    .Dialog .MuiDialog-paperWidthSm{
      width: 40vw;
      max-width: 360px;
      max-height: 550px;
    }
  }

  @media(max-width: 560px){
    .Dialog {
      margin-left: -120vw;
    }

    .Dialog .MuiDialog-paperWidthSm{
      left: 120vw;
      width: 100vw;
      height: 95vh;
    }
  }